:root {
    --background: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

* {
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    color: var(--text-color);
}

    header {
        padding: 5rem 10rem;
    }



    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        margin-left: 20%;
        margin-right: 20%;
    }

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 2em;
        margin-right: -130.65px;
    }

    /*ul li:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 3.8em;
        margin-left: 130px;
        border: 3px solid #8257E5;
        border-radius: 10px;
    
        font-weight: bolder;
    }*/

    .btn-pegar-cafe {
        width: 260px;
        height: 60px;
        padding: 11px 38px;
        background-color: transparent;
        border: 1px solid var(--button);
        border-radius: 6px;
        color: var(--text-color);
        font-weight: 700;
        cursor: pointer;
        transition: 200ms ease-in-out;
        /* identical to box height */
        letter-spacing: 0.02em;
    }

    .btn-pegar-cafe:hover {
        color: var(--text-color);
        background-color: #8257E5;
    }

    a {

        color: var(--text-color-menu-mobile);
        text-decoration: none;
        cursor: pointer;
        transition: 1s;
    }

    a:hover {
        color: var(--button);
        transition: 200ms ease-in-out;
    }

    a:active {
        font-weight: 700;
    }

    .active {
        font-weight: bolder;
    }

    .main {
        margin-top: 3rem;
    }

    .blur {
        display: flex;
        z-index: -999;
    }

    .blur.bottom {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .blur.top {
        position: fixed;
        top: 0;
        right: 0;
    }


    .great-coffee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .great-coffee-span {
        display: flex;
        position: relative;
    }

    h1 {
        font-size: 80px;
        font-weight: bolder;
        line-height: 100px;

        letter-spacing: -3.8px;
    }

    span {
        font-size: 80px;
        color: transparent;
        border: 0px solid #8257E5;
    }

    .great-coffee-span {
        font-weight: 700;
        color: var(--background);
        text-shadow:
            -1px -1px 0 var(--button),
            1px -1px 0 var(--button),
            -1px 1px 0 var(--button),
            1px 1px 0 var(--button);

    }

    .great-coffee-span:hover {
        font-weight: 700;
        text-shadow:
        -1px -1px 0 var(--text-color),
        1px -1px 0 var(--text-color),
        -1px 1px 0 var(--text-color),
        1px 1px 0 var(--text-color);
        transition: 2s;

    }

    .home-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        display: flex;
        justify-content: end;
    }
