@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
  --background: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background: var(--background);
  color: #FFF;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.container .nav-container {
  float: right;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  margin-top: 30px;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;

}

.navbar .menu-items {
  display: flex;
  background: #000;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #8257E5;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--button);
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  /*box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);*/
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: left;
}

.navbar .menu-items li {
  margin-bottom: 4.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-top: #A8A8B3;
  border-bottom: 1px solid #a8a8b323;
  padding: 0 0 1rem 0 ;
  margin: 0 0 1rem 0rem ;
}

.navbar .menu-items li:hover {
  border-left: 2px solid var(--button);
}

.logo {
  position: absolute;
  top: 1rem;
  left: 15px;
  /*right: 15px;*/
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.btn-take-coffee {
  width: 200px;
  height: 45px;
  border: 1px solid #8257E5;
  border-radius: 10px;
  background: transparent;
  color: var(--text-color);
  font-weight: 700;
  transi
}

.btn-take-coffee:hover {
  background: #8257E5
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-image img {

  max-width: 500px;
  max-height: auto;
  width: auto;
  height: auto;
  bottom: 0;
  padding-top: 4rem;
  padding-bottom: 0;
}

.great-coffee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.great-coffee h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 4rem;
  padding: 0;
}
.great-coffee span {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-shadow:
    -1px -1px 0 var(--button),
    1px -1px 0 var(--button),
    -1px 1px 0 var(--button),
    1px 1px 0 var(--button);
}

.languages img {
  width: 48px;
  margin-left: 2rem;
  margin-top: 2rem;
}

.languages a {
  padding: 4rem 2rem;
  top: 2rem;
}

.lang-active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 0.3px solid var(--button);
}

.lang-options {
  display: flex;
  justify-content: center;
  align-items: center;
}